.infiniteSlide__container{
  overflow: hidden;
}
.infiniteSlide__slide{
  position: relative;
  overflow: hidden;
  height:70px;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.infiniteSlide__text{
  white-space: nowrap;
  width: fit-content;
  min-width: 225px;
  font-weight: bold;
  letter-spacing: .5px;
  display: flex;
  position: relative;
  transform: translateX(-170%);
  animation: marquee 3s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(-140%);
  }
}